<h2>Map my route!</h2>
<form action='/map' method='post'>
    <label for="start-select">Choose your start:</label>
    <select name="start" id="start-select">
        <% @data.each do |d| %>
            <option value="<%= d["lat"] %>, <%= d["lng"] %>"><%= d["name"] %></option>
        <% end %>
    </select>
    <label for="end-select">Choose your end:</label>
    <select name="end" id="end-select">
        <% @data.each do |d| %>
            <option value="<%= d["lat"] %>, <%= d["lng"] %>"><%= d["name"] %></option>
        <% end %>
    </select>
    <input type="submit" value='Submit'>
</form>